body {
    background-image: url("assets/colonists.jpg");
    color: #394565;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    height: 100%;
    width: 100%;
    user-select: none;
}

#ui-bar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 3px #000000;
}

#ui-bar-body {
    padding: 0 1em;
}

#ui-bar-tray {
    position: absolute;
    top: .5em;
    left: 0;
    right: 0;
}

#ui-bar-history {
    display: flex;
    width: 85%;
    align-content: stretch;
    margin-left: 6px;
}

#ui-bar-history [id|=history] {
    flex-grow: 3;
}

#ui-bar-history [id|=history]:not(:first-child) {
    margin-left: 0;
}

#story-banner {
    background-image: url('assets/mars.png');
    height: 270px;
}
#story-title {
    margin: 20px 0 0;
    font-family: 'Russo One', sans-serif;
}

#ui-dialog {
    user-select: none;
}

#ui-dialog-title {
    text-align: unset;
}

#story {
    background-color: #e7c19c;
    border-radius: 10px;
    padding: 1em 3em 3em;
    box-shadow: 0 1px 3px #000000;
}

.passage {
    color: #394565;
}

.passage a {
    color: #cb4b16;
    font-weight: bold;
}

.passage a:hover {
    color: #cb4b16;
    font-weight: bold;
    text-decoration: underline;
}

.passage h2 {
    color: #cb4b16;
}

.passage .nav {
    background-color: #ccc;
    border-radius: 10px;
    padding: .5em;
    box-shadow: inset 0 1px 3px #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2em;
}

.passage .nav .section {
    color: #ccc;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #394565;
    border-radius: 5px;
    line-height: 1.5em;
    margin: 5px;
}

.passage .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0;
    margin: 2px;
}

.passage .nav span {
    margin: 2px;
}

.passage .nav a {
    border: 1px solid;
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
    color: #394565;
    white-space: nowrap;
    line-height: 1.5em;
}

.passage .nav a:hover {
    border-color: #cb4b16;
    text-decoration: none;
    background-color: #cb4b16;
    color: #ccc;
}

/* Dialogue Widget */
#dialoguebox > div {
    padding: 0.5em 0;
}
#dialoguebox > div.choice {
    font-style: italic;
}
#dialoguebox > ul.choices {
    list-style: disc;
}
#dialoguebox > q {
    quotes: "“" "”" "‘" "’";
}