<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</key>
		<array>
			<string>791AAA1B-FC89-47B4-8824-0DD2F0D66620</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {270, 728}}</string>
		<string>{{271, 0}, {1095, 728}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02269AB4-034F-41B5-82BD-6F9061D88A45</key>
		<dict>
			<key>DocID</key>
			<string>791AAA1B-FC89-47B4-8824-0DD2F0D66620</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>06BA67D0-F2E8-4D11-AA6C-6A3A2548E2D4</key>
		<dict>
			<key>DocID</key>
			<string>14FECC50-DC64-40C3-B123-C188931B1BC5</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>06C0455C-36DD-4F38-BB7B-F7DD2453A8A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>145E7BB1-F0E1-4730-8E6A-1F007EE78C24</key>
		<dict>
			<key>DocID</key>
			<string>791AAA1B-FC89-47B4-8824-0DD2F0D66620</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>147BC245-6C9C-4F6F-8454-D20E09C8B076</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>14FECC50-DC64-40C3-B123-C188931B1BC5</key>
		<dict>
			<key>DocID</key>
			<string>862863EC-0715-4588-AD17-6824940CBD71</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>1595A0B2-8FA5-43B0-9062-5475B0302AFC</key>
		<dict>
			<key>DocID</key>
			<string>4E8308B8-5D70-45EC-B4FE-9E146FAF95B1</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>15A95207-E0DD-4D74-BFA3-3ACF9ECDBA3E</key>
		<dict>
			<key>DocID</key>
			<string>4A61588C-66DD-4BD1-9BB4-6F2CEB4E58E4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>1A6E8460-32EC-4FA6-946E-6715EE508A46</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D59A1C0-E65B-4F7E-BEFD-0E76B8E0B3AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>273EF639-8DD3-48F6-8232-81794846F9F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B1F8EC3-D507-48AC-A5DD-C059D03581D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2BA3D92C-C91D-4B20-80AE-5C08F55ED57E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C3205C7-7AE1-4879-ADF4-4A8A48344D6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C8718B3-F74F-4938-96ED-4786A7F1975A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CD4A023-EA19-4B7C-8082-402FABC3FC1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D9C232A-99FC-4DDA-970D-A1A980204E36</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35659703-32C8-4652-8F5D-E8811B91D8DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F2ADB90-BDD0-46AD-977C-C46C321F523B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3FF62EBA-4FA4-498A-BD80-6E441C422A21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4091D566-7D9E-4D06-8E41-AFB48B2AFE03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>437ECB90-D2E8-4590-9113-0D7D3D407848</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4863D75C-3841-468A-99A5-E41E7F364DF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A61588C-66DD-4BD1-9BB4-6F2CEB4E58E4</key>
		<dict>
			<key>DocID</key>
			<string>4E8308B8-5D70-45EC-B4FE-9E146FAF95B1</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>4DF4D865-A8A1-476D-9DCA-BA8F5F8C6818</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E8308B8-5D70-45EC-B4FE-9E146FAF95B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5B1A2481-19DB-417C-8B73-157D878D8EC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C03DE09-C285-48ED-827F-78E62B7D0F72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5EE4A416-6EB0-4A68-BB97-9B9D89358EF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>61E5B75E-0F6D-40A5-AB51-099889879336</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>67054D71-6230-45F1-AE6D-0DD5D4264632</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6830B6AC-686B-4370-A979-2FD1D7288BDA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69C96346-A10A-4D2C-BB2F-735E6D1FB44C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74C2A2F6-0A45-4B0E-A248-76B6D0CD1F74</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>791AAA1B-FC89-47B4-8824-0DD2F0D66620</key>
		<dict>
			<key>DocID</key>
			<string>4A61588C-66DD-4BD1-9BB4-6F2CEB4E58E4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>82FA8FAD-2DFB-4641-AE28-EA367E4CF840</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>862863EC-0715-4588-AD17-6824940CBD71</key>
		<dict>
			<key>DocID</key>
			<string>4A61588C-66DD-4BD1-9BB4-6F2CEB4E58E4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>87D59B4E-F1D6-4025-9FBA-33F60ED8F985</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8CD53828-0985-4224-8FEB-D33B3FBA9865</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D72034E-58DB-4EFF-89D7-DB988ECC0E19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E5B5BD0-1184-4F59-AA35-F8531158E5A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A150B5D5-8489-468E-84A2-134C75F74141</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A20E3F50-263F-4FF4-BD87-BA34CD6084D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A3ACDB2D-7321-4034-B1A1-97C01099FA32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0377E49-74E0-4ABE-BFEB-A1780F003CF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B23F6C0E-BE2C-4B0B-84E3-99FB45FD72DF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE8FA048-CD43-409E-AA77-BBB3245BDB4D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE948F87-BDA3-4551-8E08-AC248FE89301</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9D5063F-D888-436D-8B45-FB06DF097075</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBA90AB7-6467-4A1F-9347-0CDA6C4368BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D18B7638-DCC7-48F2-AB75-0688A47FC453</key>
		<dict>
			<key>DocID</key>
			<string>862863EC-0715-4588-AD17-6824940CBD71</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D5F0C932-9F7D-4D73-AD3A-392B580C5773</key>
		<dict>
			<key>DocID</key>
			<string>1595A0B2-8FA5-43B0-9062-5475B0302AFC</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>DEBF6FAB-262A-4CA2-A70A-FEECDD54D1BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8C9827F-E9EE-400C-BAD6-3BB2D1EF84AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8941160-AC4B-451D-B273-BB7DE4D4CAF8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F94FA49C-24A6-4C7D-8C03-82A5ABF969AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC0B5BFE-A745-4330-BB6E-027EF5C56F78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{428, 0}, {427, 698}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {698, 698}}</string>
		<string>{{699, 0}, {396, 698}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 36 1142 709 0 0 1366 745 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>253</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {462.39999999999998, 480.80000000000001}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
